.imagenes-productos-flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 5%;
}

.contenedor-powpatrol{
    max-width: 600px;
    right: 50px;
    figure{
        position: relative;
        max-width: 500px;

        border-radius: 6px;
        box-shadow: 0px 15px 25px;
        cursor: pointer;
        overflow: hidden;
        img{
            max-width: 100%;
            max-height: 100%;
            transition: all 500ms ease-out;
            &:hover {
                transition: all 500ms ease-out;
            }
        }
    }
}

.capa-texto{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(11, 103, 123, 0.6);
    transition: all 500ms ease-out;
    opacity: 0;

    color: white;
    h3{
        text-align: center;
        margin-top: 30px;
        margin-bottom: 30px;
        font-size: 30px;
        }
    ol{
        display: inline-block;
        margin: 15px;
    }
    ul{
        text-align: center;
        position: relative;
        right: 30px;
    }
    &:hover {
        opacity: 1;

    }
}

/* CONTENEDOR ANIMALITOS NORDICOS */

.contenedor-animalitosnordicosfem{
    max-width: 500px;
    figure{
        position: relative;
        max-width: 500px;

        border-radius: 6px;
        box-shadow: 0px 15px 25px;
        cursor: pointer;
        overflow: hidden;
        
        img{
            max-width: 100%;
            max-height: 100%;
            transition: all 500ms ease-out;
        
        &:hover{
            transition: all 500ms ease-out;
        }
        }

    }
}

/* Contenedor Construccion */


.contenedor-construccion{
    max-width: 500px;
    figure{
        position: relative;
        max-width: 500px;

        border-radius: 6px;
        box-shadow: 0px 15px 25px;
        cursor: pointer;
        overflow: hidden;
        img{
            max-width: 100%;
            max-height: 100%;
            transition: all 500ms ease-out;
            &hover{
                transition: all 500ms ease-out;
            }
        }
    }
}

/* Contenedor Animalitos de la granja */

.contenedor-granjazenon{
    max-width: 500px;
    padding-top: 2%;
    figure{
        position: relative;
        max-width: 500px;

        border-radius: 6px;
        box-shadow: 0px 15px 25px;
        cursor: pointer;
        overflow: hidden;
        img{
            max-width: 100%;
            max-height: 100%;
            transition: all 500ms ease-out;
            &hover{
                transition: all 500ms ease-out;
            }
        }
    }
}

/* Contenedor Minnie */

.contenedor-minnie{
    max-width: 500px;
    padding-top: 2%;
    figure{
        position: relative;
        max-width: 500px;

        border-radius: 6px;
        box-shadow: 0px 15px 25px;
        cursor: pointer;
        overflow: hidden;
        img{
            max-width: 100%;
            max-height: 100%;
            transition: all 500ms ease-out;
            &hover{
                transition: all 500ms ease-out;
            }
        }
    }
}

/* Contenedor Stich */

.contenedor-stich{
    max-width: 500px;
    padding-top: 2%;
    figure{
        position: relative;
        max-width: 500px;

        border-radius: 6px;
        box-shadow: 0px 15px 25px;
        cursor: pointer;
        overflow: hidden;
        img{
            max-width: 100%;
            max-height: 100%;
            transition: all 500ms ease-out;
            &hover{
                transition: all 500ms ease-out;
            }
        }
    }
}

/* Contenedor AninmalitosNordicos */

.contenedor-animalitosnordicos{
    max-width: 500px;
    padding-top: 2%;
    figure{
        position: relative;
        max-width: 500px;

        border-radius: 6px;
        box-shadow: 0px 15px 25px;
        cursor: pointer;
        overflow: hidden;
        img{
            max-width: 100%;
            max-height: 100%;
            transition: all 500ms ease-out;
            &hover{
                transition: all 500ms ease-out;
            }
        }
    }
}






